---
// Import the necessary components
import MainLayout from '@/layouts/MainLayout.astro'
import HeroSection from '@components/sections/landing/HeroSection.astro'
import HeroSectionAlt from '@components/sections/landing/HeroSectionAlt.astro'
import FeaturesGeneral from '@components/sections/features/FeaturesGeneral.astro'
import TestimonialsSection from '@components/sections/testimonials/TestimonialsSection.astro'
import FAQ from '@components/sections/misc/FAQ.astro'
import heroImage from '@images/hero-image.webp'
import faqs from '@data/faqs.json'
import featureImage from '@images/features-image.webp'

import LeftSection from '@components/ui/blocks/LeftSection.astro'
import RightSection from '@components/ui/blocks/RightSection.astro'

import { articles } from '@/data_files/services'
import ContactForm from '@/components/sections/misc/ContactForm.astro'
---

<MainLayout>
  <HeroSection
    title=`Maintain your property with <span
        class="text-yellow-500 dark:text-yellow-400">BSS Contracting Management</span>`
    subTitle="We offer top-tier maintenance to your property with quality customer support. Trusted by many."
    primaryBtn="Start Exploring"
    primaryBtnURL="/contact"
    secondaryBtn="Contact Us"
    secondaryBtnURL="/contact"
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  {
    articles.map((article) => {
      return article.isRightSection ? (
        <RightSection
          title={article.title}
          subTitle={article.subTitle}
          single={article.single}
          imgOne={article.imgOne}
          imgOneAlt={article.imgOneAlt}
          imgTwo={article.imgTwo}
          imgTwoAlt={article.imgTwoAlt}
          btnExists={article.btnExists}
          btnTitle={article.btnTitle}
          btnURL={article.btnURL}
        />
      ) : (
        <LeftSection
          title={article.title}
          subTitle={article.subTitle}
          img={article.img}
          imgAlt={article.imgAlt}
          btnExists={article.btnExists}
          btnTitle={article.btnTitle}
          btnURL={article.btnURL}
        />
      )
    })
  }

  <FeaturesGeneral
    src={featureImage}
    alt="Worker working on construction site"
  />

  <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="At Bss Contracting, we're proud to have helped countless clients achieve their goals. Here's what they have to say about our services."
    testimonials={[
      {
        content:
          'Bss Contracting has been an invaluable partner in our construction projects. Their tools and services have helped us save time and money, and their customer support is second to none.',
        author: 'Samantha Ruiz',
        role: 'Project Manager',
        avatarSrc:
          'https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80'
      }
    ]}
    statistics={[
      {
        count: '70k+',
        description: 'customers equipped — from DIY to major construction sites'
      },
      {
        count: '35%',
        description:
          'uptick in project efficiency with Bss Contracting tools and services'
      },
      {
        count: '15.3%',
        description:
          'reduction in maintenance costs reported by long-term clients'
      },
      {
        count: '2x',
        description: 'quicker assembly using innovative fastening solutions'
      }
    ]}
  />

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <HeroSectionAlt
    title="Let's Build Together with BSS Contracting"
    subTitle="We're here to help you with all your property maintenance needs. Reach out to us today and let's get started!"
  />

  <div class="mx-auto max-w-xl lg:max-w-3xl">
    <ContactForm />
  </div>
</MainLayout>
