---
// Import the necessary components
import MainLayout from '@/layouts/MainLayout.astro'
import HeroSection from '@components/sections/landing/HeroSection.astro'
import HeroSectionAlt from '@components/sections/landing/HeroSectionAlt.astro'
import FeaturesGeneral from '@components/sections/features/FeaturesGeneral.astro'
import TestimonialsSection from '@components/sections/testimonials/TestimonialsSection.astro'
import FAQ from '@components/sections/misc/FAQ.astro'
import heroImage from '@images/hero-image.webp'
import faqs from '@data/faqs.json'
import featureImage from '@images/features-image.webp'

import LeftSection from '@components/ui/blocks/LeftSection.astro'
import RightSection from '@components/ui/blocks/RightSection.astro'

import { articles } from '@/data_files/services'
import ContactForm from '@/components/sections/misc/ContactForm.astro'

const title: string = 'Contact us'
const subTitle: string =
  "Have questions or want to discuss a project? Reach out, and let's craft the perfect solution with our tools and services."
---

<MainLayout>
  <HeroSection
    title=`Become a service partner with <span
        class="text-yellow-500 dark:text-yellow-400">BSS Contracting Management</span>`
    subTitle="We offer top-tier maintenance to your property with quality customer support. Trusted by many."
    primaryBtn="Start Exploring"
    primaryBtnURL="/services"
    secondaryBtn="Contact Us"
    secondaryBtnURL="/contact"
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  {
    articles.map((article) => {
      return article.isRightSection ? (
        <RightSection
          title={article.title}
          subTitle={article.subTitle}
          single={article.single}
          imgOne={article.imgOne}
          imgOneAlt={article.imgOneAlt}
          imgTwo={article.imgTwo}
          imgTwoAlt={article.imgTwoAlt}
          btnExists={article.btnExists}
          btnTitle={article.btnTitle}
          btnURL={article.btnURL}
        />
      ) : (
        <LeftSection
          title={article.title}
          subTitle={article.subTitle}
          img={article.img}
          imgAlt={article.imgAlt}
          btnExists={article.btnExists}
          btnTitle={article.btnTitle}
          btnURL={article.btnURL}
        />
      )
    })
  }

  <FeaturesGeneral
    src={featureImage}
    alt="Worker working on construction site"
  />

  <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="At BSS Contracting, we're proud to have helped countless clients achieve their goals. Here's what they have to say about our services."
    testimonials={[
      {
        content:
          'BSS Contracting has been an invaluable partner in preservation and maintenance field.',
        author: 'Aiden Brown',
        role: 'Project Manager'
      }
    ]}
    statistics={[
      {
        count: '70k+',
        description: 'customers equipped — from DIY to major construction sites'
      },
      {
        count: '35%',
        description:
          'uptick in project efficiency with Bss Contracting tools and services'
      },
      {
        count: '15.3%',
        description:
          'reduction in maintenance costs reported by long-term clients'
      },
      {
        count: '2x',
        description: 'quicker assembly using innovative fastening solutions'
      }
    ]}
  />

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <!-- <div class="mx-auto max-w-xl space-y-6 pb-14 md:space-y-10 lg:max-w-2xl">
    <div class="text-center">
      <h1
        class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
      >
        {title}
      </h1>
      <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
        {subTitle}
      </p>
    </div>

    <ContactForm />
  </div> -->

  <HeroSectionAlt
    title="Let's Build Together with BSS Contracting"
    subTitle="We're here to help you with all your property maintenance needs. Reach out to us today and let's get started!"
  />
</MainLayout>
