---
// Import the necessary dependencies.
import ContactIconBlock from '@components/ui/blocks/ContactIconBlock.astro'
import Icon from '@components/ui/icons/Icon.astro'
import ContactForm from './ContactForm.astro'

// Define the variables that will be used in this component
const title: string = 'Contact us'
const subTitle: string =
  'Have questions or wants to join our vendor network ? Reach out, to us by fill-up this form below.'
const formTitle: string = 'Fill in the form below'
---

<!-- Contact Us -->
<section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
  <div class="mx-auto max-w-2xl lg:max-w-5xl">
    <div class="text-center">
      <h1
        class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
      >
        {title}
      </h1>
      <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
        {subTitle}
      </p>
    </div>

    <div class="mt-12 grid items-center gap-6 lg:grid-cols-2 lg:gap-16">
      <div class="flex flex-col rounded-xl p-4 sm:p-6 lg:p-8">
        <h2
          class="mb-8 text-xl font-bold text-neutral-700 dark:text-neutral-300"
        >
          {formTitle}
        </h2>
        <!-- Form for user input with various input fields.-->
        <!-- Each field utilizes a different input component for the specific type of input (text, email, phone, and textarea)-->
        <ContactForm />
      </div>

      <!--ContactIconBlocks are used to display different methods of contacting, including visiting office, email, browsing knowledgebase, and FAQ.-->
      <div class="divide-y divide-neutral-300 dark:divide-neutral-700">
        <ContactIconBlock
          heading="Call us"
          content="Need help? Call our support team for assistance."
          linkTitle="(954) 368-0602"
          linkURL="tel:+19543680602"
          isLinkVisible={true}
          isArrowVisible={true}
          ><Icon name="phone" />
        </ContactIconBlock>

        <ContactIconBlock
          heading="Contact us by email"
          content="Prefer the written word? Drop us an email at"
          isLinkVisible={true}
          linkTitle="management@bsscontracting.us"
          linkURL="mailto:management@bsscontracting.us"
          isArrowVisible={true}
          ><Icon name="envelopeOpen" />
        </ContactIconBlock>

        <ContactIconBlock
          heading="FAQ"
          content="Explore our FAQ for quick, clear answers to common queries."
          isLinkVisible={true}
          linkTitle="Visit FAQ"
          linkURL="/"
          isArrowVisible={true}
          ><Icon name="chatBubble" />
        </ContactIconBlock>
      </div>
    </div>
  </div>
</section>
